/** Elements **/
.desktop{
    background-color: #000000;
    /*
    background-image:linear-gradient(
      to bottom,
      #01000f ,
      #000000
    );
    */
    background-repeat: no-repeat;
}

.settingButton{
  /* Position */
  top: 5px;
  left: 5px;

  /* Outshape */
  height: 20px;
  width: 20px;

  /* Size */
  font-size: 20px;

  /* Color */
  color: #00f0ff;

  /* Effect */
  cursor: pointer;
}

/** Effect **/

/** For bluring effect and hidden effect for navigationBar **/
.switchNavigationBarButton {
    transition: filter 0.3s ease-in-out; /* Add a transition for smooth blur effect */
}
.switchNavigationBarButton.hidden {
  display: none;
  }

  /** For bluring effect and hidden effect for desktop **/
.mainScreen {
  transition: filter 0.3s ease-in-out;
}

.mainScreen.blurred {
  filter: blur(10px);
  pointer-events: none;
}

.mainScreen.hidden {
  display: none;
}
