.border {
  background-color: rgba(0, 240, 255, 0.05);
  border: 1px solid #00f0ff;
  border-radius: 5px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 1rem + 2px),
    calc(100% - 1rem + 2px) 100%,
    0 100%
  );
  }
  
.body {
  padding: 0.75rem;
  padding-bottom: 1rem;
  color:#00f0ff
}
  
.border::before {
  background-color: #00f0ff; /* Background color for the pseudo-element */
  bottom: 5px; /* Position from the bottom */
  content: ""; /* Empty content for the pseudo-element */
  display: block; /* Make it a block element */
  height: 3px; /* Height of the pseudo-element */
  position: absolute; /* Positioning for the pseudo-element */
  right: -6px; /* Position from the right */
  top: auto; /* Automatic positioning from the top */
  transform: rotate(-45deg); /* Rotate the pseudo-element */
  width: 22.627416px; /* Width of the pseudo-element */
  z-index: 100; /* Ensure it appears above other elements */
}