.navigationBar{
    /* Position */
    position: absolute;
    top: 0px;
    left: 0px;

    /* Out shape */
    width: 100px;
    height: 100%;

    /* background */
    background-color: #ffffff00;

    /* Inner element lying*/
	display: grid;
	justify-content: left;
	align-items: left;
	cursor: pointer;
}

.closeNavigationBarButton{
    /* Position */
    position: relative;
    top: 5px;
    left: 5px;

    /* Out shape */
    width: 100px;
    height: 15px;

    /* Size */
    font-size: 20px;

    /* Color */
    color: #00f0ff;

    /* Effect */
    cursor: pointer;
}

.navigationBarWidget{
    position: relative;
    top: 15px;
    left: 0px;

    /* Out shape */
    width: 100px;
    height: 15px;

    /* Inner */
    margin: 5px;
    padding: 5px;

    /* Inner element lying*/
	display: flex;
    justify-content: left;
	align-items: center;
	cursor: pointer;
}

.barWidgetIcon{
    /* Inner */
    margin: 5px;
}

.barWidgetTitle{
    /* Inner */
    margin: 5px;
}